body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*============================================Global============================================*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.navcontainer{
    width: 80%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height:38px;
    background: #e8491d;
    border: none;
    padding: 0 20px;
    color: white;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Header*/
header{
    background:#35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.2s;
}

header .logo{
    width: 40px;
    height: 40px;
    float: left;
    object-fit: cover;
    border-radius: 50%;
    padding: 0 10px;
    transition: 1s;
}
header .logo:hover {
    transform: rotate(360deg);
}

header #branding{
    float: left;
    width: 330px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color:#e8491d;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

/*Header Dropdown*/
/*Dropdown Arrow*/
i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*Dropdown container*/
header nav ul li ul {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .2s, 0s;
    transition-delay: 0s, .2s;
    border-radius: 0px 0px 8px 8px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    background: #35424a;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
header nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

header nav ul li ul li {
    display: block;
}

header nav ul li ul a{
    display: block;
}
header nav ul li ul a:hover{
    color: #e8491d;
    background-color: #f2f2f2;
}

/*Showcase*/
#showcase{
    min-height: 500px;
    background:url('https://lh3.googleusercontent.com/unrPiUThuZmdw3aBdAMC8ZrawGLubmZR8ZC7d1UK35Jj7FVmri04Kx1RGoJ0OAU9_BXLtRHx6mKiBKNi5VqPE8JFyZ0V_hRyR83ZmZg7Huq2U2wAqXqVcRzpuXzepF67zPoC3Uw1M1U=w2400');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}
/*Newsletter*/
#newsletter{
    padding: 15px;
    color: white;
    background: #35424a
}
#newsletter h1{
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Boxes*/
#boxes{
    margin-top: 20px;
}

#boxes .box img {
    width:60%;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .container {
    display: flex;
    justify-content: center;
}

/*Sidebar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;

}

/*Main-col*/
article#main-col {
    float: left;
    width: 65%;
}

/*============================================About Page============================================*/
.aboutImg {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    shape-outside: padding-box;
    padding: 0 30px 20px 0;
}

#main-col h1 {
    font-size: 26px;
}

/*============================================Services Page============================================*/
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer{
    padding: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

/*==================================Menu Page==================================*/
/*Background Image*/
#menu .container {
    background-image: url("https://lh4.googleusercontent.com/R9fY2gohBcX0mqEQtgOMXBdemxQKO6P8iqRqAqfbq_Qk1I-Csi58gsBfhm4=w2400");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

/*adjust all widths*/
.menuTitle, .menuNav, .menuItems h2, .starters li, .entrees-rice li, .entrees-noodles li {
    width: 60%;
}

/*MENU TITLE*/
.menuTitle {
    background-color:rgba(230, 230, 230, 0.75);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.5em;
}

.menuTitle h1 {
    padding: 0;
    margin: 0;
}

/*MENU NAVBAR*/
.menuNav {
    background-color:rgba(230, 230, 230, 0.75);
    padding: 10px 0px;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    font-size: 1.2em;}
.menuNav ul {
    display: inline-flex;}
.menuNav li {
    list-style-type: none;
    margin: 0px 10px;}
.menuNav a:visited {text-decoration: none; color: black;}

/*All section titles*/
.menuItems h2 {
    font-size: 1.75em;
    text-align: center;
    padding: 10px 0px;
    margin: 0 auto;
    margin-top: 10px;}
/*Section Title Individual Settings*/
#starters, #entrees-rice, #entrees-noodles{
    background-color: rgba(230, 230, 230, 0.75);}

/*Item Grid Setup*/
.starters li, .entrees-rice li, .entrees-noodles li {
    display: grid;
    margin: 0 auto;
    padding: 5px 0px;
    grid-template-areas:
    "picture title"
    "picture description";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 120px;
    background-color: rgba(230, 230, 230, 0.75);
}

/*ALL IMAGES*/
li img {
    height: 160px;
    width: 213px;
    object-fit: cover;
    transition: transform .2s ease-in-out;
    pointer-events: none;
    transform-origin: 0%;
    border-radius: 5%;
}
.triggerImg {
    height: 160px;
    width: 213px;
}
.triggerImg:hover img {
    transform: scale(2);
}

li img {
    height: 160px;
    width: 213px;
    object-fit: cover;
    transition: transform .2s ease-in-out;
    pointer-events: none;
    transform-origin: 0%;
    border-radius: 5%;}
.triggerImg {
    height: 160px;
    width: 213px;}
.triggerImg:hover img {
    transform: scale(2);}

/*Menu item titles and descriptions*/
.menuItems p {
    grid-area: description;
    margin: 0;
    padding-left: 5px;
    overflow: auto;
    line-height: 1em;
}
.menuItems h3 {
    grid-area: title;
    margin: 0;
    padding-left: 5px;
}
.menuItems li > h3:after { 
    /*This is the underline*/
    border-bottom: 2px solid grey;
    content: "";
    display: block;
    width: 175px;
}

#starters:after , #entrees-rice:after , #entrees-noodles:after, .menuTitle:after {
    border-bottom: 2px solid grey;
    content: "";
    display: block;
    width: 60%;
    margin: 0 auto
}


/*==================================Contact Page==================================*/
.contactUs {
    text-align: center;
    font-size: 20px;
}

.contactSideMessage img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.contactSideMessage {
    float: left;
    width: 40%;
    border: #cccccc solid 1px;
    background: #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
}

.contactForm {
    float: right;
    width: 50%;
    border: #cccccc solid 1px;
    background: #e6e6e6;
    padding: 10px;
}

.contactForm section{
    margin-bottom: 15px;
}

#browserResize{
    display: none;
}

/*==================================Media Queries==================================*/
/*Media Queries*/
@media(max-width: 1055px){
    header #branding, header nav, header nav li,
    #newsletter h1, #newsletter form,
    #boxes .box, #boxes .container,
    article#main-col,
    aside#sidebar,
    .contactSideMessage, .contactForm {
        float: none;
        text-align: center;
        width: 99%;
        display: block;
    }

    header .logo{
        margin-left: 20px;
    }

    .contactSideMessage img{
        height: 250px;
        width: auto;
    }

    .container{
        overflow: visible;
    }

    .menuTitle, .menuNav, #starters, .starters li, #entrees-rice, .entrees-rice li, #entrees-noodles, .entrees-noodles li {
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom: 5px;
    }
}


@media(max-width: 250px){
    header, section, footer {
        display: none;
    }
    
    #browserResize{
        display: block;
    }
}
